@import url(reset.css);
@import url(base.css);
@import url(common.css);
@import url(buttons.css);

/*================================
 *
 *Drupal China Main style
 *
 *===============================*/
body {
  background-color: #EEE;
  font-family:Tahoma,Arial,Helvetica,"SimSun","Arial Narrow",Geneva,sans-serif;
  color: #333;
  min-width: 780px;
  line-height: 160%;
  font-size: 16px;
}

a, a:link, a:hover {
  color: #0072B9;
}

body > header {
   background-color: #0072B9;
   color: #fff;
   padding: 40px 0 25px;
}
body > section {
  background-color: #fff;
  padding: 35px 0;
}
.container {
   width: 565px;
   margin: 0 auto;
 } 
header .container {
  background: url("../images/header_updated.png") no-repeat center;
  height: 257px;
  text-indent: -999em;
}
header a {
  background: url("../images/weibo.png") no-repeat center;
  height: 146px;
  width: 145px;
  position: absolute;
  top: -8px;
  right: 0;
  text-indent: -999em;
}

article > header {
  margin-bottom: 30px;
} 
article > header h2 {
  height: 65px;
  line-height: 65px;
  background: url("../images/about.png") no-repeat center;
  text-indent: -999em;
  margin-bottom: 20px;
}
.schedule > header h2 {
  background-image: url("../images/time.png");
}
.event > header h2 {
  background-image: url("../images/line.png");
    height: 10px;
}
.pitch {
  font-size: 24px;
  line-height: 160%;
  text-align: center;
}
.schedule ul {
  float: left;
  margin: 0 0 15px 0;
}
.schedule ul li {
  float: left;
  display: block;
  margin: 0 15px 15px 0;
  text-align: center;
  width: 130px;
}
.schedule ul li.last {
  margin: 0;
}
.schedule ul li .date,
.schedule ul li .city,
.schedule ul li .link {
  display: block;
  margin-bottom: 5px;
}
.schedule ul li .city {
  font-size: 22px;
}
.schedule ul li .link {
  color: #aaa;
}

.event ul {
  float: left;
  display: block;
  margin: 0 15px 15px 0;
  text-align: center;
  width: 130px;
}
.event li {
  float: left;
  display: block;
  margin: 0;
  text-align: center;
  width: 130px;
}
.event ul li .when,
.event ul li .where,
.event ul li .what,
.event ul    .price {
  float: left;
  display: block;
  margin: 0 15px 15px 0;
  text-align: left;
  width: 405px;
}
.event ul li .date,
.event ul li .city,
.event ul li .queue,
.event ul li .when,
.event ul li .where,
.event ul li .what,
.event ul li .price {
  display: block;
  margin-bottom: 5px;
}
.event ul li .city {
  font-size: 22px;
}
.event ul li .link {
  color: #aaa;
}



article {
  clear: both;
}
article > section p {
  margin-bottom: 15px;
}

footer {
  clear: both;
  color: #AAA;
  font-size: 14px;
  padding: 20px;
}
footer a,
footer a:link {
  color: #AAA;
  text-decoration: underline;
}
footer a:hover {
  color: #777;
}