@import url(reset.css);
@import url(base.css);
@import url(common.css);
@import url(buttons.css);

/*================================
 *
 *Drupal China Main style
 *
 *===============================*/
body {
  background-color: #EEE;
  font-family:Tahoma,Arial,Helvetica,"SimSun","Arial Narrow",Geneva,sans-serif;
  color: #333;
  min-width: 780px;
}

body > header {
   background-color: #0072B9;
   color: #fff;
   padding: 40px 0 25px;
}
body > section {
  background-color: #fff;
  padding: 35px 0;
}
.container {
   position: relative;
   width: 565px;
   margin: 0 auto;
 } 
header .container {
  background: url("../images/header.png") no-repeat center;
  height: 257px;
  text-indent: -999em;
}

article > header {
  margin-bottom: 30px;
} 
article > header h2 {
  height: 65px;
  line-height: 65px;
  background: url("../images/about.png") no-repeat center;
  text-indent: -999em;
  margin-bottom: 20px;
}
.time > header h2 {
  background-image: url("../images/time.png");
}
article > section {
  margin-bottom: 35px;
}
footer {
  clear: both;
  color: #AAA;
  padding: 20px;
}
footer a,
footer a:link {
  color: #AAA;
  text-decoration: underline;
}
footer a:hover {
  color: #777;
}